*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(78, 84, 84);
}
.grid{
  cursor: crosshair;
  text-align: center;
  font-size: 0px;
  top: 0%; 
  left: 0%;
  transform: translate(0px,0px); 
}
.pixel{
  width: 20px;
  height: 20px;
  border: 1px solid rgb(17, 17, 17);
  display: inline-block;
  background-color: rgb(225, 225, 225);
}

#arrayFromSQL{
  display: none;
}

/* drag Grid */
.touchGrid{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
}

/*************************/
/****** Responsivity *****/
/*************************/

@media (max-width: 750px) {
  .container{
    margin: 30px 5px 0px 5px;
  }
  .touchGrid{
    position: relative;
    top: 300px;
    left: 50%;
    overflow: hidden;
    border: 3px solid red;
    max-width: 600px;
  }
  .touchGrid:after{
    content: '';
    display: block;
    padding-top: 100%;
  }
  .grid{
    position: absolute;
    width: 100%;
    height: 100%;
  }
 

}